@import "tailwindcss";

@import "./styles/themes/light.css";
@import "./styles/themes/dark.css";
@import "./styles/themes/retro.css";

@import "./styles/theme-integration.css";
@import "./styles/buttons.css";

/* Utilities */

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Base Styles */

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--page-bg-from),
    var(--page-bg-to)
  );
}
