@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
